---
layout: base.liquid
ogType: article
---
{% include 'nav' %}

<main class="container h-entry">
  <header>
    <hgroup>
      <h1 class="p-name">{{ title }}</h1>
      {% if date %}
        <p>
          <span class="icon-date"
            >Published&nbsp;<date class="dt-published" datetime="{{ date | date: '%Y-%m-%d', 0 }}">
              {{- date | date: '%-m/%-d/%Y', 0 -}}
            </date></span
          >
          {% if updated %}
            <br>
            <span class="icon-time"
              >Updated&nbsp;<date class="dt-updated" datetime="{{ updated | date: '%Y-%m-%d', 0 }}">
                {{- updated | date: '%-m/%-d/%Y', 0 -}}
              </date></span
            >
          {% endif %}
        </p>
      {% endif %}
    </hgroup>
  </header>
  <div class="e-content">
    {{ content }}
  </div>
</main>
