<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% data.meta.each do |k, v| %>
    <meta name="<%= k %>" value="<%= v %>">
    <title><%= current_page.data.title || data.settings.default_title %></title>
    <%= stylesheet_link_tag "all" %>
    <%= defer_load_webfont_tags "Fira+Sans:400,700italic,700,400italic" %>
    <% end %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <main class="content" role="main" id="main-content">
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <% if (!current_page.data.no_footer || false) %><%= partial "footer" %><% end %>
    <%= javascript_include_tag "all" %>
  </body>
</html>
