<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || data.settings.default_title %></title>
    <% data.meta.each do |k, v| %>
    <meta name="<%= k %>" value="<%= v %>">
    <% end %>
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fira+Sans:400,700italic,700,400italic" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <main class="content" role="main" id="main-content">
      <%= yield %>
    </main>
    <%= javascript_include_tag "all" %>
  </body>
</html>
